*,
*::before,
*::after {
  box-sizing: content-box;
}

body {
  margin: 0;
  overflow: hidden;
  user-select: none;
  background: black;

  canvas {
    z-index: 1;
    float: left;
    touch-action: none;
  }
}